.card_display {
  width: 32%;
  height: 75vh;
  background-color: purple;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.title {
  font-size: 1.7rem;
  margin: 10px;
}
